{% load tabs %}
{% block navigation %}
<ul id="top-nav">
    <li><a href="/createTopic.html" class="{% ifactivetab "topnav" "create_topic" %}active{% else %}inactive{% endifactivetab %}">Create Topic</a></li>
    <li><a href="/subscribeTopic.html" class="{% ifactivetab "topnav" "subscribe_topic" %}active{% else %}inactive{% endifactivetab %}">Subscribe Topic</a></li>
    {% for u in topics %}
        <li><a href="/topic/{{u}}" class="{% ifactivetab "topnav" "subscribe_topic" %}active{% else %}inactive{% endifactivetab %}" >{{u}}</a></li>
    {% endfor %}
</ul>
{% endblock %}
